// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 MediaTek Inc.
 */
#include "k6897v1_64.dts"

&mmc1 {
	status = "disabled";
};

&mmc2 {
	status = "disabled";
};

/*End of this file, DO NOT ADD ANYTHING HERE*/
