#ifdef OPLUS_FEATURE_CHG_BASIC
CONFIG_GAUGE_MT6379=m
CONFIG_CHARGER_MT6379=m
CONFIG_OPLUS_MT6379_CHARGER=y
#endif //PLUS_FEATURE_CHG_BASIC

#ifdef OPLUS_ARCH_EXTENDS
CONFIG_SND_SOC_SIA91XX_V3_1_0=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
#add for usb type-c switch
CONFIG_SND_SOC_OPLUS_TYPEC_SWITCH=m
#endif

CONFIG_OPLUS_FEATURE_VT_CAP=n
CONFIG_OPLUS_FEATURE_EAS_OPT=n
CONFIG_OPLUS_CPUFREQ_IOWAIT_PROTECT=n