#ifdef OPLUS_FEATURE_CHG_BASIC
CONFIG_OPLUS_CHG_TEST_KIT=m
CONFIG_GAUGE_MT6375=m
CONFIG_CHARGER_MT6375=m
CONFIG_OPLUS_MT6375_CHARGER=y
#endif /* OPLUS_FEATURE_CHG_BASIC */

CONFIG_OPLUS_FEATURE_ABNORMAL_FLAG=m

CONFIG_HYBRIDSWAP=y
CONFIG_HYBRIDSWAP_SWAPD=y
CONFIG_HYBRIDSWAP_CORE=y
CONFIG_HYBRIDSWAP_ZRAM=m
CONFIG_HYBRID_ZSMALLOC=m

CONFIG_OPLUS_ENABLE_6375_RESET=y

CONFIG_OPLUS_FEATURE_GAME_ENABLE=y

#aofengjie 2024/11/29, APU uncache change cache
CONFIG_OPLUS_FEATURE_CAMERA_APU_CACHED_ENABLE=y
