#ifdef OPLUS_FEATURE_CHG_BASIC
CONFIG_OPLUS_CHG_TEST_KIT=m
CONFIG_GAUGE_MT6375=m
CONFIG_CHARGER_MT6375=m
CONFIG_OPLUS_MT6375_CHARGER=y
CONFIG_OPLUS_LIQUID_DETECTION=y
#endif /* OPLUS_FEATURE_CHG_BASIC */

CONFIG_OPLUS_ENABLE_6375_RESET=y

CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
CONFIG_OPLUS_MTK_TEE_ALL_BIG_CORE_SUPPORT=y
# CONFIG_OPLUS_FEATURE_ABNORMAL_FLAG is not set
# CONFIG_OPLUS_FEATURE_GKI_CPUFREQ_BOUNCING is not set

#add for fs181x support
CONFIG_SND_SOC_FS181X=m

#add for aw883xx support
CONFIG_OPLUS_MTK_PLATFORM=y
CONFIG_SND_SMARTPA_AW883XX=m

CONFIG_DRM_BIAS_AW37501=m

#add for aw87565 support
CONFIG_SND_SOC_AW87XXX_2_X_0=m